.Cockpit {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: .75rem;
    background: linear-gradient(90deg,#5d449d 0,#5a5db6 45%,#5684dd 100%);
}

.Cockpit h1 {
    color: #FFF;
    font-weight: 400;
}